@font-face {
    font-family:"Inter-Bold";
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

body{
    display: grid;
}


main{
    max-width: 75rem;
    max-height: 50rem;
    justify-self: center;
    margin-bottom: 2rem;
    position: relative;
    margin-left: 0;
    width: 100%;
    height: 100%;
}
/*   Header   */
header{
    display: inline-block;
    width: 100%;
    
}

.toggle-btn{
    height: 1rem;
    position: block;
    float: right;
    margin-top: 0.7rem;
    top:1rem;
    display: none;
    
}

nav{
    display: flex;
    float: right;
    margin-top: 0.8rem;
}

.logo{
    max-width: 5rem;
    max-height: 5rem;
    float: left;
}

.menu{
    display: flex;
    justify-self: end;
    margin:auto;
    margin-right: 0px;
    
}

li{
    margin-left: 2rem;
    list-style: none;
}

li > a{
    text-decoration: none;
    color:hsl(236, 13%, 42%)
}



/* Section */

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    gap: 1.5rem;
    margin-top: 2rem;
    
}

.mainImg{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

img{
    width: 100%;
    height: 100%;
}

/* SideBar */


.sideTextContainer{
    background: hsl(240, 100%, 5%);
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.sideText{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    height: 20rem;
}

.sideText h1 {
    color: hsl(35, 77%, 62%);
    font-size: 1.8rem;
    font-family:"Inter-Bold";
    font-weight: 600;
}

.sideText div h3 {
    color: white;
    font-family: "Inter-Bold";
    font-weight: 700;
    font-size: 1.4rem;
}

.sideText div p{
    color:hsl(233, 8%, 79%);
    font-size: 1rem;
    font-family: "Inter-Bold";
    font-weight: 300;
    line-height: 1.5rem;
} 

.bar{
    border: solid 0.1rem hsl(240, 100%, 5%);
    border-radius: 20px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 1px 1px 2px hsl(236, 13%, 42%);
}

/* Text */

.articleTitle h1{
    font-size: 3.1rem;
    font-family: "Inter-Bold";
    font-weight: 800;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.articleText p{
    font-family: "Inter-Bold";
    font-weight: 300;
    color: hsl(236, 13%, 42%);
    font-size: 1rem;
    margin-top: 0.6rem;
}   

button{
    background: hsl(5, 85%, 63%);
    border: none;
    width: 50%;
    height: 2.5rem;
    color: white;
    font-family: "Inter-Bold";
    font-weight: 600;
    margin-top: 0.81rem;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
}

/* Footer */

footer{
    height: 7.5rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem
}

.footerContainer{
    display: flex;
    
}

.footerImg{
    width: 6rem;
    height: 7.5rem;
}

img{
    width: 100%;
    height: 100%;
}

.footerText h1{
    margin: 0;
    margin-left: 0.9rem;
    font-family: "Inter-Bold";
    font-size: 1.7rem;
    color: hsl(233, 8%, 79%);
    font-weight: 700;
}

.footerText h3{
    font-family: "Inter-Bold";
    margin: 0;
    margin-left: 0.9rem;
    margin-top: 0.4rem;
    font-size: 0.9rem;
}

.footerText p{
    font-family: "Inter-Bold";
    margin: 0;
    margin-left: 0.9rem;
    color: hsl(236, 13%, 42%);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    line-height: 1.3rem;
    font-weight: 500;
}

/* Hover */

li > a:hover{
    color: hsl(35, 77%, 62%);
}

button:hover{
    background: black;
    cursor: pointer;
    
}

a{
    text-decoration:none;
    color: inherit;
}

.toggleMenu > li > a:hover{
    color: hsl(35, 77%, 62%);
}

/* Toggle-Nav */

.toggle-nav{
    position: fixed;   
    height: 100%;
    width: 100%;
    top:0;
}

.navDiv{
    width: 65%;
    height: 100%;
    background: white;
    opacity: 100%;
    float: right;
}

.blurDiv{
    width:  35%;
    height: 100%;
    background: black;
    opacity: 0.5;
    float: left;
}

.closeBtn{
    height: 2rem;
    width: 2rem;
    position: block;
    float: right;
    margin-top: 1rem;
    top: 3rem;
    cursor: pointer;
}

.toggleMenu{
    margin:0;
    position: block;
    float: left;
    margin-left: -3rem;
    margin-top: 5rem;
    line-height: 2.5rem;
}

.toggleMenu > li > a {
    font-family: "Inter-Bold";
    color: black;
    font-weight: 500;
}



#navbar{
    display: none;
}



@media only screen and (max-width: 1200px) {
    
    .sideText h1 {
        font-size: 1.8rem;
    }
    
    .sideText div h3 {
        font-size: 1.1rem;
    }
    
    .sideText div p{
        font-size: 0.9rem;
        line-height: 1.5rem;
    } 
    
    .bar{
        border: solid 0.1rem hsl(240, 100%, 5%);
        border-radius: 20px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
  }

  @media only screen and (max-width: 1020px) {
    
    .sideText h1 {
        font-size: 1.9rem;
        margin-bottom: 2.3rem;
    }
    
    .sideText div h3 {
        font-size: 1.3rem;
    }
    
    .sideText div p{
        font-size: 0.9rem;
        line-height: 1.1rem;
    } 
    
    .bar{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .articleTitle h1{
        font-size: 2.84rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .footerText h1{
        margin: 0;
        margin-left: 0.9rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
    
    .footerText h3{
        margin: 0;
        margin-left: 0.9rem;
        margin-top: 0.4rem;
        font-size: 0.8rem;
    }
    
    .footerText p{
        margin: 0;
        margin-left: 0.9rem;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        line-height: 1.3rem;
    }

    .footerImg{
        width: 8rem;
    }


    br{
        display: none;
    }
  }
  @media (max-width: 700px) {
    
    
    .toggle-btn{
        display: block;
    }
    nav{
        display: none;
        position: absolute;
        top: -1.3rem;
        right: 0rem;

    }
    nav.show{
        display: block;
    }
    /* grid */
    main{
        width: 20rem;
        height: auto;
    }
    section{
        display: flex;
        flex-direction: column;
    }

    .sideTextContainer{
        order: 3;
    }

    footer{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    #laptopimg{
        width: 6.53rem;
    }
    
    #padImg{
        width: 7.291rem;
    }

    .sideText h1 {
        font-size: 1.5rem;
    }
    
    .sideText div h3 {
        font-size: 0.9rem;
    }
    
    .sideText div p{
        font-size: 0.8rem;
        line-height: 1.1rem;
    } 
    
    .bar{
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .articleTitle h1{
        font-size: 2.84rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .footerText h1{
        margin: 0;
        margin-left: 0.9rem;
        font-size: 1.4rem;
        font-weight: 700;
    }
    
    .footerText h3{
        margin: 0;
        margin-left: 0.9rem;
        margin-top: 0.4rem;
        font-size: 0.8rem;
    }
    
    .footerText p{
        margin: 0;
        margin-left: 0.9rem;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        line-height: 1.3rem;
    }

    .footerImg{
        width: auto;
    }

    #laptopimg{
        width: 5.9rem;
    }
    
    #padImg{
        width: 6rem;
    }

    br{
        display: none;
    }

    .sideText{
        height: 22rem;
    }
    main{
       width: auto;
    }

}
@media only screen and (max-width: 400px){
    main{
        margin-left: 0;
        width: auto;
        height: auto;
    }

    #laptopimg{
        width: 4.8rem;
    }
    
    #padImg{
        width: 5.5rem;
    }
}